# BETTER_AUTH設定
BETTER_AUTH_SECRET=ここにシークレットキーを入力
BETTER_AUTH_URL=http://localhost:3000(開発環境のURLを入力)
TURNSTILE_SITE_KEY=ここにCloudflare Turnstile Site Keyを入力
TURNSTILE_SECRET_KEY=ここにCloudflare Turnstile Secret Keyを入力

# データベース設定
DATABASE_URL="postgresql://maimai:maimai@localhost:5432/maimai_dev?schema=public"

# メール送信設定（本番環境で使用）
SMTP_HOST=ここにSMTPホストを入力
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=example@example.com
SMTP_PASS=ここにパスワードを入力
SMTP_FROM="(開発環境) <example@example.com>"